/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/public/dist
/public/assets/admin
/public/assets/twill
/public/main-*.html
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/lang
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.local
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode/*
!/.vscode/launch.json
/.zed
/.claude/settings.local.json