:root {
    --background: oklch(0.994 0 89.8756);
    --foreground: oklch(0 0 0);
    --accent: oklch(0.9429 0.01 212.5221);
    --accent-foreground: oklch(0.3931 0.1245 253.8524);
    --muted: oklch(0.9761 0 89.8756);
    --muted-foreground: oklch(0.4386 0 89.8756);
    --card: oklch(0.994 0 89.8756);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(0.9911 0 89.8756);
    --popover-foreground: oklch(0 0 0);
    --border: oklch(0.9253 0.0144 254.6087);
    --input: oklch(0.9253 0.0144 254.6087);
    --primary: oklch(0.7908 0.17 221.7);
    --primary-foreground: oklch(1 0 89.8756);
    --secondary: oklch(0.7357 0.25 328.36);
    --secondary-foreground: oklch(1 0 89.8756);
    --destructive: oklch(0.629 0.1902 23.0704);
    --destructive-foreground: oklch(1 0 89.8756);
    --ring: oklch(0 0 0);
    --shadow-xs: oklch(0 0 0 / 0.03999999910593033);
    --opacity-90: oklch(1 0 89.8756 / 0.10000000149011612);
    --opacity-50: oklch(1 0 89.8756 / 0.5);
    --shadow-lg: oklch(0 0 0 / 0.03999999910593033);
    --shadow-md: oklch(0 0 0 / 0.03999999910593033);
    --sidebar: oklch(0.9683 0.0069 247.8956);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.5882 0.2309 28.2936);
    --sidebar-primary-foreground: oklch(1 0 89.8756);
    --sidebar-accent: oklch(0.9429 0.01 212.5221);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.9253 0.0144 254.6087);
    --sidebar-ring: oklch(0.5882 0.2309 28.2936);
    --custom-focus: oklch(0.7155 0 89.8756 / 0.5);
    --custom-destructive-focus: oklch(0.5786 0.2137 27.1659 / 0.4000000059604645);
    --shadow-2xs: oklch(0 0 0 / 0.03999999910593033);
    --shadow-sm: oklch(0 0 0 / 0.03999999910593033);
    --shadow: oklch(0 0 0 / 0.03999999910593033);
    --shadow-xl: oklch(0 0 0 / 0.03999999910593033);
    --shadow-2xl: oklch(0 0 0 / 0.03999999910593033);
    --chart-chart-2: oklch(0.6162 0.2083 259.2354);
    --chart-chart-1: oklch(0.8098 0.0994 250.0063);
    --chart-chart-5: oklch(0.4242 0.1982 265.4989);
    --chart-chart-3: oklch(0.5465 0.2455 262.8657);
    --chart-chart-4: oklch(0.4881 0.2429 264.3816);
    --opacity-30: oklch(1 0 89.8756 / 0.699999988079071);
    --custom-bg-input-30: oklch(1 0 89.8756);
    --custom-bg-input-50: oklch(0.9702 0 89.8756);
    --opacity-80: oklch(1 0 89.8756 / 0.20000000298023224);
    --custom-bg-input-80: oklch(0.9219 0 89.8756);
    --custom-bg-primary-10: oklch(0.2046 0 89.8756 / 0.05000000074505806);
    --radius: 0.5rem;
    --font-sans: system-ui;
    --font-serif: Unbounded;
    --font-mono: DM Mono;
    --shadow-x: 0px;
    --shadow-y: 2.5px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-color: #000000;
    --shadow-2xs: 0px 2.5px 4px hsl(0 0% 0% / 0.17);
    --shadow-xs: 0px 2.5px 4px hsl(0 0% 0% / 0.17);
    --shadow-sm:
        0px 2.5px 4px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md:
        0px 2.5px 4px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg:
        0px 2.5px 4px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl:
        0px 2.5px 4px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 2.5px 4px hsl(0 0% 0% / 0.17);
    --shadow:
        0px 2.5px 4px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
}

.dark {
    --background: oklch(0.2223 0.006 271.1393);
    --sidebar: oklch(0.2011 0.0039 286.0396);
    --sidebar-foreground: oklch(0.9551 0 89.8756);
    --sidebar-primary: oklch(0.6453 0.2404 27.3106);
    --sidebar-primary-foreground: oklch(1 0 89.8756);
    --sidebar-accent: oklch(0.294 0.013 272.9312);
    --sidebar-accent-foreground: oklch(0.9911 0 89.8756);
    --sidebar-border: oklch(0.3289 0.0092 268.3843);
    --sidebar-ring: oklch(0.6132 0.2294 291.7437);
    --foreground: oklch(0.9551 0 89.8756);
    --muted: oklch(0.294 0.013 272.9312);
    --muted-foreground: oklch(0.7058 0 89.8756);
    --card: oklch(0.2568 0.0076 274.6528);
    --card-foreground: oklch(0.9551 0 89.8756);
    --popover: oklch(0.2568 0.0076 274.6528);
    --popover-foreground: oklch(0.9551 0 89.8756);
    --border: oklch(0.3289 0.0092 268.3843);
    --input: oklch(0.3289 0.0092 268.3843);
    --primary: oklch(0.6132 0.2294 291.7437);
    --primary-foreground: oklch(1 0 89.8756);
    --secondary: oklch(0.294 0.013 272.9312);
    --secondary-foreground: oklch(0.9551 0 89.8756);
    --accent: oklch(0.6986 0.1954 14.166);
    --accent-foreground: oklch(0.7857 0.1153 246.6596);
    --destructive: oklch(0.3958 0.1331 25.723);
    --destructive-foreground: oklch(1 0 89.8756);
    --ring: oklch(0.6453 0.2404 27.3106);
    --shadow-xs: oklch(0 0 0 / 0.03999999910593033);
    --opacity-90: oklch(0 0 0 / 0.10000000149011612);
    --opacity-50: oklch(0 0 0 / 0.5);
    --shadow-lg: oklch(0 0 0 / 0.03999999910593033);
    --shadow-md: oklch(0 0 0 / 0.03999999910593033);
    --custom-focus: oklch(0.8711 0.0055 286.286 / 0.5);
    --custom-destructive-focus: oklch(0.3958 0.1331 25.723 / 0.4000000059604645);
    --shadow-2xs: oklch(0 0 0 / 0.03999999910593033);
    --shadow-xl: oklch(0 0 0 / 0.03999999910593033);
    --shadow-2xl: oklch(0 0 0 / 0.03999999910593033);
    --shadow: oklch(0 0 0 / 0.03999999910593033);
    --shadow-sm: oklch(0 0 0 / 0.03999999910593033);
    --chart-chart-2: oklch(0.6162 0.2083 259.2354);
    --chart-chart-1: oklch(0.8098 0.0994 250.0063);
    --chart-chart-3: oklch(0.5465 0.2455 262.8657);
    --chart-chart-4: oklch(0.4881 0.2429 264.3816);
    --chart-chart-5: oklch(0.4242 0.1982 265.4989);
    --opacity-30: oklch(0 0 0 / 0.699999988079071);
    --custom-bg-input-30: oklch(1 0 89.8756 / 0.04500000178813934);
    --custom-bg-input-50: oklch(1 0 89.8756 / 0.09000000357627869);
    --opacity-80: oklch(0 0 0 / 0.20000000298023224);
    --custom-bg-input-80: oklch(1 0 89.8756 / 0.13500000536441803);
    --custom-bg-primary-10: oklch(1 0 89.8756 / 0.10000000149011612);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-ring: var(--ring);
    --color-shadow-xs: var(--shadow-xs);
    --color-opacity-90: var(--opacity-90);
    --color-opacity-50: var(--opacity-50);
    --color-shadow-lg: var(--shadow-lg);
    --color-shadow-md: var(--shadow-md);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-custom-focus: var(--custom-focus);
    --color-custom-destructive-focus: var(--custom-destructive-focus);
    --color-shadow-2xs: var(--shadow-2xs);
    --color-shadow-sm: var(--shadow-sm);
    --color-shadow: var(--shadow);
    --color-shadow-xl: var(--shadow-xl);
    --color-shadow-2xl: var(--shadow-2xl);
    --color-chart-chart-2: var(--chart-chart-2);
    --color-chart-chart-1: var(--chart-chart-1);
    --color-chart-chart-5: var(--chart-chart-5);
    --color-chart-chart-3: var(--chart-chart-3);
    --color-chart-chart-4: var(--chart-chart-4);
    --color-opacity-30: var(--opacity-30);
    --color-custom-bg-input-30: var(--custom-bg-input-30);
    --color-custom-bg-input-50: var(--custom-bg-input-50);
    --color-opacity-80: var(--opacity-80);
    --color-custom-bg-input-80: var(--custom-bg-input-80);
    --color-custom-bg-primary-10: var(--custom-bg-primary-10);
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --shadow: var(--shadow);
}